accelerate
bitsandbytes
datasets
deepspeed==0.15.0
einops
flash-attn==2.7.0.post2
isort
jsonlines
loralib
optimum
packaging
peft
pyarrow>=14.0.1,<15.0.0
ray[default]
tensorboard
torch
torchmetrics
tqdm
transformers==4.46.3
transformers_stream_generator
wandb
wheel
